// GENERAL
$border-color: #E3E3E3;
$font: 'Open Sans', sans-serif;
$background-color: #F5F5F2;
$user_text-color: #56819F;
$user_text-hover-color: #F58220;
// TOP-BAR
$top-bar_background-color: #ffffff;
$top-bar_money-color: #979797;
$top-bar_icon-hover-color: #F5F5F2;
$top-bar_money-hover-color: #F58220;
$top-bar_user-hover-color: #F58220;
// SIDEBAR
$sidebar_background-color: #191919;
$sidebar_text-color: #979797;
$sidebar_hamburger-hover-color: #F58220;
$sidebar_menu-hover-border-color: #F58220;
$sidebar_chat-text-hover-color: #ffffff;
// MAIN-CONTENT
$main-content_text-color: #979797;
$main-content_content-background-color: #ffffff;
$main-content_refresh-button-text-color: #ffffff;
$main-content_refresh-button-background-color: #f58220;
$main-content_tab-background-color: #ffffff;
$main-content_tab-active-background-color: #e3e3e3;
$main-contnet_add-new-background-color: #f58220;
$main-content_add-new-text-color: #ffffff;
$main-content_links-row-hover-color: #F5F5F2;
$main-content_link-color: #56819F;
$main_content_link-icons-hover-color: #f58220;