@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "sections/_top_bar.scss";
@import "sections/_sidebar.scss";
@import "sections/_main_content.scss";
@import "../images/fonts/_Glyphter.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font;
	background-color: $background-color;
}
