@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.top-bar {
	text-align: right;
	height: 50px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #E3E3E3;
}
.top-bar_button {
	display: inline-block;
	background-color: white;
	height: 50px;
	border: 1px solid #E3E3E3;
	font-size: 20px;
	.icon {
		width: 20px;
		height: 20px;
		margin: 0 10px;
	}
	.profile {
		font-size: 12px;
		margin: 0 10px;
		text-decoration: none;
	}
}
